{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="button" id="button">Купити</button>

    <p>This is text</p>
</div>

<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p>
        <em> Test EM</em>
    </p>
</footer> --}}


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}

    {{!-- <ul>
        <div class="card p-5 m-5 card-dark">
            <div class="item">First</div>
            <div class="item">First</div>
            <p class="item">Second</p>
            <strong class="item">Test strong</strong>
            <p></p>
            <div class="item">First</div>
            <articel class="item">Last</articel>
            <articel class="item">Last</articel>
        </div>
    </ul> --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <input class="input-dark" placeholder="This is text" required>
        <input class="input-dark" type="number">
    </div>
    <div class="card p-5 m-5 card-dark img">
        <img alt="image card 100px small" class="small-img" src="https://picsum.photos/200/300" height="150px" />

        <a href="https://picsum.photos/200/300" rel="external">Link</a>
        <br>
        <button class="btn">Click me</button>
        <br>
        <a class="btn-secondary big" href="https://picsum.photos/200/300">Click me</a>
    </div>

    <div class="card p-5 m-5 card-dark">
        <p class="big-text">This is text about info big tes info This is text about info big tes info</p>
    </div> --}}

    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link" href="https://www.google.com.ua/?hl=ru">Click me</a>
    </div>


    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input>
        <span>Hello vasya</span>
        <button>Test button</button>
    </div>

    <div class=" p-5 m-5 card-dark">
        <button>Test button</button>
        <button disabled>Disabled button</button>
    </div>

    <div class=" p-5 m-5 card-dark">
        <input class="inp" readonly>
        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First checkbox</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second checkbox</span>
            </div>

        </div>
    </div>

    <div class="p-5 m-5 card-dark">
        <div>
            <input type="email" required class="valid" placeholder="Test">
            <span>Test text</span>
        </div>
        <div class="mt-5">
            <input type="number" min="10" max="20" required class="number">
        </div>
    </div>